extends layout

block content
  h3(class='main-title-color')= title

  ul(class='list-group')
    each category in categories_list
      li(class='list-group-item')
        a(href=category.url) #{category.name}

    else
      li(class='list-group-item') There are no categories of gear.
