extends layout

block content
  if category_gear.length

    h4(class='main-title-color') #[strong Delete the following gear before attempting to delete this category]

    div(style='margin-left:20px;margin-top:20px')

      ul(class='list-group')
      each gear in category_gear
        li(class='list-group-item')
          a(href=gear.url) #{gear.name} (#{gear.brand})

  else
    h4(class='main-title-color') Do you really want to delete this category?

    form(method='POST' action='')
      div.form-group
        input#categoryid.form-control(type='hidden',name='categoryid', required='true', value=category._id )

      button.btn.btn-primary(type='submit') Delete
