extends layout

block content
  h3(class='main-title-color')= title

  ul(class='list-group')
    each gear in gear_list
      li(class='list-group-item')
        a(href=gear.url) #{gear.name}
        dd #{gear.category.name}

    else
      li(class='list-group-item') There is no climbing gear in the store.
