extends layout

block content
  h1= title
  p Here's an overview of the store at this moment

  if error
    p Error getting overview of the store.
  else
    p The shop has the following categories and gear counts:

    ul
      li #[strong Categories:] !{data.categories_count} different categories
      li #[strong Gear:] !{data.gear_count} different items
